<!-- Button trigger modal -->
<button (click)="showModal = !showModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Confirmar matrícula
</button>
{{isDisabled}}
{{showModal}}

<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="showModal" style="display: block; padding-right: 17px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button (click)="showModal = !showModal"  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>